*{
    background-color: black;
    padding: 0;
    margin: 0;
}
figure{
    text-align: center;
}
header{
    color: white;
}
ol{
    font-size: 24px;
    display: flex;
    justify-content: center;
    gap: 160px;
    border-bottom: 1px solid white;
}
li{
    list-style-type: none;
    padding: 20px 25px;
}
li:hover{
    background-color: rgba(133, 133, 133, 0.5);
    transition: background-color 0.3s ease, padding 0.3s ease;;
    background-size: 50px
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgba(133, 133, 133, 0.5);
}